@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 248 250 252;
  --foreground: 17 24 39;
}

html, body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

@media print {
  .no-print { display: none !important; }
  body { background: white; }
}
